<footer th:fragment="footer" class="footer">
    <div class="footer-wrap">
        <!-- Izquierda -->
        <div class="footer-left">
            <a href="#">Política de Privacidad</a>
            <a href="#">Términos &amp; Condiciones</a>
            <a href="#">Libro de Reclamaciones</a>
        </div>

        <!-- Centro -->
        <div class="footer-center">
            <p><strong>DASSO</strong></p>
            <p>Calle Miguel Dasso 102, San Isidro, Lima, Perú</p>
            <p>01 242-8515</p>
            <p><a href="mailto:reservas@dasso.pe">reservas@dasso.pe</a></p>
        </div>

        <!-- Derecha -->
        <div class="footer-right">
            <div class="horarios">
                <p><strong>Horario de Atención</strong><br>
                    Martes a domingo: 12:00 p.m. – 10:00 p.m.
                </p>
            </div>
            <div class="social-block">
                <a href="#" aria-label="facebook"><img th:src="@{/images/Facebook.png}" alt="Facebook"></a>
                <a href="#" aria-label="whatsapp"><img th:src="@{/images/WhatsApp.png}" alt="WhatsApp"></a>
                <a href="#" aria-label="instagram"><img th:src="@{/images/Instagram.png}" alt="Instagram"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">© 2025 DASSO · Powered by StoqING</div>
    </div>
</footer>